<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h4>Mantenimiento de clientes</h4>
        </div>
        <div class="col-md-2">
            <button id="agregarCliente" class="btn btn-success">Agregar Cliente</button>
        </div>
    </div>
</div>

<div id="listaCustomers">

</div>

<script>
    listadoCustomers();
    function listadoCustomers() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ListadoClientes","Customer")',
            cache: false,
            success: function (dataHTML) {
                $("#listaCustomers").html(dataHTML);

            }

        })

    }
</script>
