<div class="alert alert-primary">
    <div class="colm-md-4">
        <h4>Productos</h4>
        <!--<button class="btn btn-primary">Agregar Producto</button>-->
    </div>
</div>

<div id="listadoProductos">

</div>

<script>
    listarProductos();
    function listarProductos() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("ListadoProductos","Product")',
            cache: false,
            success: function (dataHtml) {
                $("#listadoProductos").html(dataHtml);
            }
        });
    }
</script>



